[2011-05-24 04:48] r3ap3r2004 opened #1 "Admin Properties Fails"
Adding new product properties fails with the error.

[code]

Why is :is_hidden being used here when it doesn't seem to exist anywhere?  Other than that, there is no reason to override this particular template.

[2011-05-24 13:17] jsqu99 commented on #1
Thanks for reporting.  That file must have been laying around since a very early version of the extension.

I just removed it.  Feel free to ask me any other questions / report any bugs.

I'm currently working on writing lots of tests.

[2011-05-24 13:17] #1 closed, assigned to jsqu99

[2011-05-28 04:35] r3ap3r2004 opened #2 "Error with latest edge spree"
views/admin/products/_additional_product_sub_menu.html.erb breaks the latest edge spree.

This line:

[code]

Should be:

[code]

Note the position of the # for the comment.  To properly comment out a section in an erb the # should immediately follow the % sign.

[2011-05-28 05:57] r3ap3r2004 commented on #2
Hold off on this fix.  I forked your project so that I could fix a bunch more issues that came up with the latest Spree version.  I'll send you a pull request later.

[2011-05-28 05:57] #2 closed, assigned to nobody

[2011-06-07 12:13] Deaner666 opened #4 "Custom calculators don't work"
I've created a custom calculator and registered it with spree in a Rails initializer:

[code]

The custom calculator model registers itself with the ProductCustomizationType model:

[code]

However, when adding a product customization type in the admin interface, the new calculator only seems to stick around for the initial request. I restart the server, add a new product customization type using

[2011-06-07 12:22] Deaner666 commented on #4
Forgot to mention I'm using the pre-deface-stable branch with Spree 0.60.0

[2011-06-07 12:29] Deaner666 commented on #4
Shouldn't the FlatRate calculator that already ships with Spree be included in the default set of calculators available to spree_flexi_variants? All I really want to do is use the FlatRate calculator on a product customization... ie. like the inscription on your cake demo, but with a flat price for the inscription, not a price per letter. But I couldn't find a way to get that to work, so tried to

[2011-06-07 12:47] Deaner666 commented on #4
Ah. Just found the problem. What I was trying doesn't work from a Rails initializer (although the official Spree documentation says it should do.) It does seem to work from within `lib/spree_site.rb` though. I'll let you know if I have any further issues with this method.

[2011-06-07 13:01] jsqu99 commented on #4
Thanks for reporting, and I'm glad you figured it out.

FYI, disregard all of the official spree docs regarding calculators when it comes to their use in this extension.  I just stole the idea from spree and tweaked calculators for use here.  There are some extension-specific components of the calculators (e.g.   def create_options) meaning that 'normal' spree calculators won't work.

[2011-06-07 13:01] #4 closed, assigned to nobody

[2011-06-07 13:02] jsqu99 commented on #4
In general, just copy the contents of an existing calculator and modify as needed for your new calculator.  No need to mess w/ rails initializers

[2011-06-10 21:32] binaryphile opened #6 "uninitialized constant SpreeFlexiVariantsHooks::Deface"
Got this error with a fresh latest spree install, ruby 1.8.7, rails 3.0.7, gem 1.5.2, bundler 1.0.14, installed on windows with railsinstaller.  (bundler 1.0.14 needs a recent patch on windows, btw)

I added the following to the end of my Gemfile and ran "bundle install", which seemed to work until I did "rails s":

gem 'spree_flexi_variants', :git => 'git://github.com/jsqu99/spree_flexi_variants.

[2011-06-10 22:39] jsqu99 commented on #6
hmmm...i will investigate asap.  can you email me your full Gemfile?  jeff.squires@gmail.com

[2011-06-13 14:47] jsqu99 commented on #6
Your Gemfile entries:

gem 'spree'
gem 'spree_flexi_variants', :git => 'git://github.com/jsqu99/spree_flexi_variants.git'

Are saying:
 "use the latest spree gem" (currently 0.60.x)
 "use the master flexi branch" (not compatible w/ 0.60.x").

I have in the README Installation section:

gem 'spree', :git => 'git://github.com/spree/spree.git'  # latest master branch
gem 'spree_flexi_variants', :git=

[2011-06-13 14:47] #6 closed, assigned to nobody

[2011-06-13 15:10] binaryphile commented on #6
I see...you're saying to use the latest spree code.  I will give this a shot.  I'm assuming it's pretty stable if you're recommending it.  Thanks.  Sorry I missed that in the README.

[2011-06-13 15:13] jsqu99 commented on #6
well there are two options:

if you want to use the latest stable spree version, use the
pre-deface-stable branch, along w/ the spree gem.

if you want bleeding edge, use master.

both scenarious are listed in the readme

On Mon, Jun 13, 2011 at 11:10 AM, lilleyt <
reply@reply.github.com>wrote:

[2011-06-27 10:42] nimish79 opened #7 "uninitialized constant JSON"
I get the following message:

NameError in Products#show

Showing /home/nimish/.bundler/ruby/1.8/spree_flexi_variants-d633203dfb90/app/views/products/_customizations.html.erb where line #36 raised:

<code>uninitialized constant JSON</code>

Extracted source (around line #36):
<code>33:                 <% if lookup.exists?(partial_name,nil,true) %>
34:                     <%= render :partial => par

[2011-06-27 13:46] jsqu99 commented on #7
Are you comfortable modifying the source of the extension?

If so, would you please try modifying that file to have it start like:

ProductsHelper.module_eval do

  require 'json'

And see if that fixes the problem?

I'm wondering if you need to also add gem 'json' to the Gemfile

[2011-06-27 13:58] jsqu99 commented on #7
I actually just pushed that fix so you can pull it if you like.  I'm not sure about the Gemfile entry.  We might still need that.  Please let me know how it goes.  Thanks for reporting.

[2011-06-28 03:56] nimish79 commented on #7
Made the changes. Worked after I added gem 'json' to the Gemfile. Thx.

BTW, how about having an Image Upload functionality as a part of the
customization. This would be useful for stuff like T-shirts or Mugs where
someone cd upload the picture to be printed as well.

On Mon, Jun 27, 2011 at 7:28 PM, jsqu99 <
reply@reply.github.com>wrote:

[2011-06-28 04:26] nimish79 opened #8 "AJAX Pricing Updates"
The Wiki mentions that the pricing updates should happen automatically but that didn't happen. So I went and checked lib/ spree_flexi_variants.rb in the bundled gem and found that the file is empty. product_customizations.rb and spree_flexi_variants_hooks.rb had the appropriate code but not spree_flexi_variants.rb. Is that the problem or am I going down the wrong lane?

[2011-06-28 12:20] jsqu99 commented on #8
I'm glad the json fix worked.

fyi, just yesterday I started on an image customization!  I pushed a branch
last night that is a work in progress (don't use it yet).

Maybe there was a problem during your download?
https://github.com/jsqu99/spree_flexi_variants/blob/pre-deface-stable/lib/spree_flexi_variants.rb
shows
the file is there.

The pricing updates should happen automatically.  Why don't yo

[2011-06-28 13:27] nimish79 commented on #8
Shall remove and install again.

Really looking forward to the image customisation piece.

Sent from my iPad

On 28-Jun-2011, at 17:50, jsqu99
reply@reply.github.com
wrote:

[2011-06-28 13:38] jsqu99 commented on #8
Excellent.

Well keep your eyes on the new branch.

I'm working on it full time right now.

On Tue, Jun 28, 2011 at 9:27 AM, nimish79 <
reply@reply.github.com>wrote:

[2011-06-29 04:20] nimish79 commented on #8
While reinstalling, the spree_flexi_variants.rb file did appear, the prices aren't getting updated automatically. Do I need to edit spree_flexi_variants.rb to make it work? Or is there a change I need to make in the Spree core files?

[2011-06-29 04:23] #7 closed, assigned to jsqu99

[2011-06-29 12:41] jsqu99 commented on #8
I belive it should work out of the box.  I wrote something either on the readme or the wiki re: setting the conguration option

[2011-06-30 19:03] jsqu99 commented on #8
I've recently had some issues w/ the preferences.

try adding:

[code]

in the following location within ./lib/spree_flexi_variants.rb:

require 'spree_core'
require 'spree_flexi_variants_hooks'

module SpreeFlexiVariants
  class Engine < Rails::Engine

[code]

"../app/*_/__decorator*.rb")) do |c|
        Rails.env.production? ? require(c) : load(c)
      end

[code]

On Wed, Jun 29, 2011 at 12:20

[2011-07-04 04:54] jsqu99 commented on #8
OK, I have just massively overhauled the preferences on the master branch.

I finally have it done correctly and you shouldn't see any problems.  Please let me know if that's not correct.

Also, I'd use the master branch only.  There is more functionality, and all my tests are passing.  Lots of updates coming very soon.

[2011-07-04 04:54] #8 closed, assigned to nobody

[2011-07-04 13:48] nimish79 commented on #8
So should I just remove the extension and then add this to the gemfile...

gem 'spree_flexi_variants', :git => 'git://github.com/jsqu99/spree_flexi_variants.git'

No need for :branch => 'pre-deface-stable'?

[2011-07-04 14:10] jsqu99 commented on #8
Yes. Please give that a try at your convenience and let me know how it goes. You will need to run the rake flexi....install task again to cp the new migrations. Also add to your gemfile carrierwave and rmagick

Then bundle && rake db:migrate

Sent from my iPhone

On Jul 4, 2011, at 9:48 AM, nimish79reply@reply.github.com wrote:

[2011-07-04 14:13] nimish79 commented on #8
Yep it worked. The carrierwave gem got installed without having to add to my
Gemfile.

On Mon, Jul 4, 2011 at 7:40 PM, jsqu99 <
reply@reply.github.com>wrote:

[2011-07-12 10:35] ArjanL opened #9 "NameError in Admin/orders#edit"
I use spree_flexi_variants with multiple select options, it worked fine but since a upgrade i get the following error in admin/orders/edit:

Showing /Users/--/.bundler/ruby/1.8/spree_flexi_variants-000b5d6dc274/app/views/shared/_additional_line_item_fields.html.erb where line #11 raised:

undefined local variable or method `item' for #<#Class:0x8601514:0x85fe51c>

[code]

Does someone got a soluti

[2011-07-12 13:50] jsqu99 commented on #9
I am going to look at this today.

Thanks for reporting.

[2011-07-13 02:10] jsqu99 commented on #9
I'm wondering if you are using the pre-deface-stable branch.

I'm on master, and I went to two urls, like:

http://localhost:3000/admin/orders/R440885855
and
http://localhost:3000/admin/orders/R440885855/edit

and they both render correctly.

I'll investigate that branch.

[2011-07-13 09:33] ArjanL commented on #9
I  am working on master now and most of the things work correctly.
There is only still one problem, i'm not shure if this problem comes from spree_flexi_variants, but my product prices show up as "$ NaN". During the checkout processs i see the prices just like they belong to, but when i go to the last step in checkout i get the following error:

TypeError in CheckoutController#update
instance of I

[2011-07-13 13:23] jsqu99 commented on #9
The error you were getting before, was that on pre-deface-stable?

I see you are using the store credits extension?

What page shows the NaN?

[2011-07-13 14:37] ArjanL commented on #9
The error that i had before was on a fork from MrRuRu.
The products detail pages shows the NaN.

[2011-07-14 20:46] ArjanL commented on #9
Never mind...problem solved! I forgot that i had a partial _pricing.html.erb in my layout. Excuse me.

[2011-07-14 20:46] #9 closed, assigned to nobody

[2011-07-14 20:53] jsqu99 commented on #9
I'm glad you are in good shape now.

Feel free to give feedback or report any other issues you might find.

Good Luck,

Jeff

On Thu, Jul 14, 2011 at 4:46 PM, ArjanL <
reply@reply.github.com>wrote:

[2011-08-10 20:11] Fodoj opened #12 "How do i add my own calculator?"

[2011-08-10 21:19] jsqu99 commented on #12
Simply copy one of the existing calculators, make your changes (rename, etc), and call the register method in your site's activate method (see how i did it in my lib/spree_flexi_variants.rb activate method.

[2011-08-10 21:19] #12 closed, assigned to nobody

[2011-08-11 09:52] Fodoj opened #13 "Image upload doesnt work"
Added customization type with image calculator, added it to product. Then choose file in file field, then added to cart. Result - no image saved. Rails 3.1, sqlite3, edge spree.

[2011-08-12 03:35] jsqu99 commented on #13
Thanks for reporting.

I haven't done any testing yet on the 3.1-enabled spree.

My suspicsion is a change in the hooks (see lib/spree_flexi_variants_hooks.rb for some important files e.g. content_for_head that need to get included.  I'll look at 3.1 support asap).

[2011-09-09 03:32] chrt00 commented on #13
I had a similar problem where CarrierWave would not load, thus failing the image upload.
I think rails g spree:site and rails railtie:spree_flexi_variants:install does not help you configure it.

I am running both edge versions of spree (0.70) and spree_flexi_variants, Rails 3.1

Adding require statements in the initializer fixed it for me.
https://gist.github.com/1205419

[2011-09-09 12:03] jsqu99 commented on #13
Thanks Chris.  I'm going to be revisiting 3.1 shortly and will dig deeper.

[2011-09-12 19:44] chrt00 commented on #13
No problem!

[2011-10-24 19:22] ArjanL opened #17 "Product price incl. Tax/VAT"
Is there a solution to show prices including Tax/VAT on the product detail page?

[2011-10-24 19:25] jsqu99 commented on #17
Hello.

Are you referring to flexi-varaint-specific tax?  If so, the answer is no.

FYI, I'm working on a complete rewrite, and I'm looking at taking into account skus, inventory, on a per-variant level.

So, if tax is one of those items that is important to you, feel free to write up a paragraph or two on how you'd like to see it work, and I'll consider it for version 2.  thanks!

[2011-10-24 19:31] ArjanL commented on #17
No its just base price, at this moment in _pricing.html.erb

[code]

 this shows the price without VAT, when i change this line to

[code]

it shows the price including VAT but when i select some Ad Hoc Option Values the price update doesn't work anymore.

[2011-10-24 19:33] jsqu99 commented on #17
Oh I see.

the javascript simply applies the bare price when you change the ad hoc options.

You could always write a small amount of code to override this behavior.

hope that helps

[2011-10-24 21:06] ArjanL commented on #17
Fixed, i added this:

[code]

VAT for the products is 6%, there should be a more elegant method for this by using the VAT Calculator but this works for me atm!

[2011-10-24 21:06] #17 closed, assigned to nobody

[2011-11-21 02:49] KristianHildebrandt opened #18 ""uninitialized constant Admin::OptionTypesController" when running install"
Not much more to say. I just tried to install spree along with your extension, but getting this error when running "bundle exec rails g spree_flexi_variants:install" :

uninitialized constant Admin::OptionTypesController (NameError)

I run ruby version 1.9.2 with rails 3.1.2.

Any Ideas?

[2011-11-21 11:38] jsqu99 commented on #18
Spree master? Not yet compatible. That controller has recently been renamed Spree::Option....

Try spree 0.70.2

Sent from my iPhone

On Nov 20, 2011, at 9:49 PM, KristianHildebrandtreply@reply.github.com wrote:

[2011-11-21 14:32] KristianHildebrandt commented on #18
Well, I used the lates Spree because on older versions I get the following error, when running "rake db:bootstrap" :

"undefined method `register_calculator' for ProductCustomizationType(Table doesn't exist):Class"

[2011-11-21 15:04] jsqu99 commented on #18
Sorry you are having problems.  Hopefully I can get you through them.

So recently spree changed the way they do the calculator registrations.  I don't recall offhand(but can investigate shortly) exactly at what point that change went into place.

There used to be a config section where they did something like [FlatRate, FlexiRate, etc].map(&:register)

and now they use some kind of railtie mechan

[2011-11-22 15:17] jsqu99 commented on #18
Another user has reported this and I just spent some time looking into it.  It's definitely a spree 0-70-stable integration issue.

I'm looking into this

[2011-11-24 12:43] KristianHildebrandt commented on #18
Out of curiosity, for which version does flexi_variants work?

[2011-11-24 13:54] jsqu99 commented on #18
That's a great question :-)

Up until a few days ago, I thought it was 0.70.x.

I'm positive that the 0.60.x branch of spree works w/ flexi variants (if master fails, try the pre-deface-stable branch).

Hopefully we'll get this double-migration issue straightened out shortly

[2011-11-24 13:59] jsqu99 commented on #18
and btw, I'm not sure i communicated this with you (been working w/ a few different people).

https://github.com/jsqu99/spree_flexi_variants/blob/master/lib/spree_flexi_variants.rb#L25

causes us to ignore that error when the table does not yet exist.

That should get you to this error: http://groups.google.com/group/spree-user/browse_thread/thread/80810dc0d907d6ac#

Which can probably be worked a

[2011-12-03 17:44] jsqu99 commented on #18
I'm fairly certain I've got a working extension again.  This was diffcult to figure out.

What was happening was there was a rake task that was getting executed implicitly that was double-copying migrations.

Please take a look and let me know if you have any more problems.

[2011-12-03 17:44] #18 closed, assigned to nobody

[2012-01-19 19:31] gerardocastro opened #21 "error running rails g spree_flexi_variants:install"
Hi, when i run rails g spree_flexi_variants:install i get this

/home/gerardo/.rvm/gems/ruby-1.9.2-p136@os/bundler/gems/spree_flexi_variants-0c467e354c3c/app/models/calculator/engraving.rb:1:in `<top (required)>': wrong argument type Module (expected Class) (TypeError)
    from /home/gerardo/.rvm/gems/ruby-1.9.2-p136@os/gems/activesupport-3.1.1/lib/active_support/dependencies.rb:456:in`load'
    f

[2012-01-29 01:04] jsqu99 commented on #21
You are referencing spree 1.0.0.rc\* in your Gemfile (implicitly), and unfortunately this extension has not yet been upgraded to support 1.0.

[2012-01-29 01:04] #21 closed, assigned to nobody

[2012-02-15 10:29] serialbandicoot opened #22 "bundle exec rails g spree:site"
os: mac lion
ruby 1.9.3
rails 3.1.3

After running the following I got a build error:

Mac-Airs-MacBook-Air:mystore macair$ bundle exec rails g spree:site
/Users/macair/.rvm/gems/ruby-1.9.3-p0/bundler/gems/spree_flexi_variants-639ffc779d35/app/models/calculator/engraving.rb:1:in `<top (required)>': wrong argument type Module (expected Class) (TypeError)

[2012-02-15 13:52] jsqu99 commented on #22
Hello. Spree version please? Gemfile?

Sent from my iPhone

On Feb 15, 2012, at 5:29 AM, samtreweekreply@reply.github.com wrote:

[2012-02-15 21:21] serialbandicoot commented on #22
gem 'rails', '3.1.3'
gem 'mysql2'

group :assets do
  gem 'sass-rails',   '~> 3.1.5'
  gem 'coffee-rails', '~> 3.1.1'
  gem 'uglifier', '>= 1.0.3'
end

gem 'jquery-rails'

group :test do
  # Pretty printed test output
  gem 'turn', '~> 0.8.3', :require => false
end
gem 'spree', '1.0.0.rc4'
#gem 'spree', :git => 'git://github.com/spree/spree.git', :branch =>
'0-70-stable'
gem 'spree_usa_epay', :git

[2012-02-15 21:42] jsqu99 commented on #22
Thanks for the info.

Unfortunately I'm not yet spree 1.0 ready but will be very soon.

Sent from my iPhone

On Feb 15, 2012, at 4:21 PM, samtreweekreply@reply.github.com wrote:

[2012-02-15 21:46] serialbandicoot commented on #22
No worries Let me know when your near there and I can run some testing on
it. It's got the perfect requirement for a site I'm working on.

Cheer,
Sam

samtreweek at gmail dot com

On 16 February 2012 08:42, jsqu99 <
reply@reply.github.com

[2012-02-15 21:48] jsqu99 commented on #22
Thanks. Feel free to help out and submit a pull request :-). Shouldn't be hard to upgrade. Asset pipeline and namespace changes for the most part

Sent from my iPhone

On Feb 15, 2012, at 4:46 PM, samtreweekreply@reply.github.com wrote:

[2012-03-07 15:38] nhunzaker opened #23 "Trouble with rake db:bootstrap"
I'm on Spree 0.70.x, and I've configured my gemfile like so:

[code]

However when I rake db:boostrap here's what I get:

[code]

Any thoughts?

[2012-03-07 15:44] jsqu99 commented on #23
yuk.  pre spree-1.0 prefs always caused me tons of troubles.  full stack trace please?  i remember having to guard against setting preferences during rake execution.  you might want to comment out the prefs setting code during rake, then uncomment.  Just do a bundle show spree_flexi_variants , go into the code & comment out, rerun, then uncomment.  hopefully that will work for you.

[2012-03-07 16:00] nhunzaker commented on #23
Okay, I'll give it a go. In the meantime, here's the trace.

[code]

[2012-03-07 16:01] jsqu99 commented on #23
what do you have in:  /Users/nate/Sites/kkane/config/initializers/spree_config.rb

I'd comment out everything during the rake task

[2012-03-07 16:03] nhunzaker commented on #23
[code]

Nothing fancy, just initializing the application, I'll give it a try. EDIT: Of course that won't work, ActiveRecord won't establish a connection.

[2012-03-07 17:16] nhunzaker commented on #23
Commenting out `lines 18 and 20 of /spree/preferences_access.rb` worked like magic, thanks!

[2012-03-07 17:16] #23 closed, assigned to nobody

[2012-03-07 17:24] nhunzaker commented on #23
Just a heads up for future developers, another one of our developers was also able to run the migrations by commenting out the following in `[app_directory]/config/initializers/spree_config.rb`.

[code]

[2012-03-07 17:27] jsqu99 commented on #23
glad to get you on track!

[2012-03-08 15:28] nhunzaker commented on #13
@chrt00 I'm getting a similar problem with CarrierWave, you added that gist to initializers/spree_config.rb?

EDIT: Yeah that worked great, but I also had to add carrierwave to my gemfile. Odd, yes?

[2012-03-08 15:32] jsqu99 commented on #13
@nhunzaker what branch are you using?  I'm happy to help.  3.1 support should be pretty solid, although you might have to tweak the instructions (and ill update the readme if so).

thanks

[2012-03-08 15:33] nhunzaker commented on #13
0.70, but everything is working wonderfully now

[2012-03-08 15:40] jsqu99 commented on #13
excellent, glad to hear.  let me know if there are any readme changes i should make

[2012-03-08 15:40] #13 closed, assigned to nobody

[2012-03-08 16:21] #22 closed, assigned to nobody

[2012-03-11 10:47] handcrab opened #24 "NoMethodError in OrdersController#update"
Hi
I'm using spree 0.6 with flexi variants.
But removing via frontend any product with Ad Hoc Option Type from cart raises an error:
**NoMethodError in OrdersController#update
undefined method `eq' for nil:NilClass**

Request
Parameters:
{"utf8"=>"✓",
 "_method"=>"put",
 "authenticity_token"=>"I0Zk8MRl8/nBUTR4iAcLAJrCY5QFZPVjt+H4feR7IXQ=",
 "order"=>{"line_items_attributes"=>{"0"=>{"quantity"=>"0"

[2012-03-11 13:23] jsqu99 commented on #24
I'll take a look at this shortly

Sent from my iPhone

On Mar 11, 2012, at 6:47 AM, Max Trubetskoyreply@reply.github.com wrote:

[2012-03-11 14:45] jsqu99 commented on #24
I was able to reproduce.  investigating

[2012-03-11 15:12] jsqu99 commented on #24
Thanks for reporting.  It turns out I had fixed this in the other branches.  I cherry picked a migration that adds a needed primary key to ad_hoc_line_items table.

Please grab the latest and give it a try.

[2012-03-11 15:12] #24 closed, assigned to nobody

[2012-03-11 16:58] handcrab commented on #24
Thank you for fast fix! Now it really works nice.

[2012-03-11 17:32] jsqu99 commented on #24
that's great to hear!

[2012-03-24 23:41] sfcgeorge opened #26 "GET available_ad_hoc 404 (Not Found)"
I had spree_flexi_variants (master branch) working, but now it isn't, not sure what has changed. Now when I'm editing a product, go to 'Ad Hoc Option Types' and click 'Add Option Type' nothing happens. If I look in the web inspector I get this message:

GET http://0.0.0.0:4567/admin/products/apache-baseball-jersey/option_types/available_ad_hoc 404 (Not Found)

If I look at the error generated by R

[2012-03-24 23:54] jsqu99 commented on #26
Hello.  Gemfile please?

I'll try to look at this in the a.m.

[2012-03-25 00:07] sfcgeorge commented on #26
Thanks. The Gemfile:

source 'https://rubygems.org'

[code]

And the Gemfile.lock:

[code]

[2012-03-25 13:33] jsqu99 commented on #26
I just reproduced.

investigating

On Sat, Mar 24, 2012 at 8:07 PM, sfcgeorge <
reply@reply.github.com

[2012-03-25 13:55] #26 closed, assigned to nobody

[2012-03-25 13:56] jsqu99 commented on #26
I just pushed up a fix.  made the routes 'prepend' vs. 'append'.  Please let me know if that works for you. Thanks for reporting and sorry about the trouble

[2012-03-25 14:12] jsqu99 opened #27 "admin/orders javascript needs to be updated for spree 1.0"
admin/orders/flexi_configuration.js wasn't properly propagated to the .70 & 1.0 versions.  Currently working on plugging that in

[2012-03-25 16:22] sfcgeorge commented on #26
Ah it's working now. Thank you very much for the fast fix.

[2012-03-30 20:33] lcrodriguez opened #29 "Locale support"
I have my store in Spanish configuration but once installed, the price in the product page shows as Euro.
Any idea how can I fix that? The rest looks awesome! Great job.

[2012-03-30 20:50] #29 closed, assigned to nobody

[2012-03-30 20:51] lcrodriguez commented on #29
Nevermind. Got my locale wrong.

[2012-03-30 22:31] jsqu99 commented on #29
Thanks. Maybe look at spree's number to currency impl?

Sent from my iPhone

On Mar 30, 2012, at 4:33 PM, lcrodriguezreply@reply.github.com wrote:

[2012-04-04 23:14] wandtasie opened #31 "production: error 500 on product page"
Hi

Playing around with spree_flexi_variants in production mode I get an error 500 on products page.
I used a fresh spree sample shop (1.0.3) with spree_flexi_variants (master), precompiled assets, correct file permissions...

[code]

 The same problem appears with other files like the jquery.validation... and exclusions.js linked in spree_flexi_variants view files.

I figured out that the problem

[2012-04-09 04:05] daemonsy opened #32 "Percentage based change for Ad-hoc Option Types"
Firstly, thanks a lot for this extension! For my use cases so far, I think such a system of adding a price increase to an option value is much more practical than Spree's native variant.

Is there any interest (or is there a way) to set the price changes to an ad-hoc option as a percentage of the master price?

[2012-04-09 12:46] jsqu99 commented on #32
Hey thanks a lot for the compliment.

So if you want a percentage-based pricing you'd have to use the customizations(custom calculators), not the ad hoc options.

It certainly would make more sense to us ad hoc options, but those don't (yet?) support percentages (want to send a pull request? :) ) .

[2012-04-10 02:07] daemonsy commented on #32
I want to help... but I'm a little noob. Let me give it a try =)

[2012-04-10 02:08] jsqu99 commented on #32
Sounds great.  don't worry, i was a noob not too long ago :-)

[2012-04-12 07:29] daemonsy commented on #31
Hi, I'm using the MASTER branch on Spree 1.0.3 and I'm having this same issue as well.

[2012-04-12 09:15] wandtasie commented on #31
@deamonsy my fork https://github.com/wandtasie/spree_flexi_variants solves this. Pull request is still open. you can install my fork and give a feedback?

[2012-04-12 09:32] daemonsy commented on #31
I actually wanted to install your branch. It seems to work okay. Sadly, I already installed and did rails g spree_flexi_variants:install for the master branch. So now I'm having a lot of tiny issues (e.g. flexi-variants and spree-flexi-variants.css) and I'm trying to get it sorted out =)

[2012-04-12 10:00] dp6ai opened #33 "Template is missing"
Hi,

Just installed and getting the following:

Template is missing
Missing template spree/admin/option_types/available_ad_hoc, spree/admin/resource/available_ad_hoc, spree/admin/base/available_ad_hoc, spree/base/available_ad_hoc, application/available_ad_hoc with {:handlers=>[:erb, :builder, :coffee], :formats=>[:html], :locale=>[:"en-GB", :en]}. Searched in: \* "/Library/WebServer/Documents/site

[2012-04-12 10:44] wandtasie commented on #31
@daemonsy delete the lines added by spree_flexi_variants in your rails app/assets/stylesheets/store/all.css and javascripts/store/all.js. then reinstall spree_flexi_variants...

[2012-04-12 13:12] jsqu99 commented on #31
I'm so sorry.  I usually respond immediately to issues filed, but somehow I missed seeing this one.

Unfortunatly I'm on vacation in the mountains ATM and i'm not sure when i'll be able to take a look.  ASAP though.

thanks everyone

[2012-04-12 13:16] jsqu99 commented on #31
I just pulled.  Sorry for the wait!

[2012-04-12 13:17] jsqu99 commented on #31
will do more verification when back from vacation.  thanks for reporting

[2012-04-12 13:19] jsqu99 commented on #33
I'll take a look at this ASAP.  I"m on vacatino ATM but will tryu to address shortly

[2012-04-12 14:19] dp6ai commented on #33
Thanks Jeff,

Will the extension allow me to do the following:

Does anyone know if there is a way of creating a variant of a product that
does not have an "on hand" value (it uses its master on hand value).

I want to sell tables which have the option of a glass top  but i dont want
this variant to have a separate value for on hand i want it to decrease the
overall stock of the tables.

ie

table

[2012-04-12 19:09] jsqu99 commented on #33
I'm not sure about that one.  you might want to post that question to the spree google group.

this version of flexi varaints doesn't take inventory into account (but there are plans for the next version to do this)

[2012-04-12 19:29] wandtasie commented on #31
@jsqu99 thanks I got some additional ideas but the pull request was growing...
Enjoy your hollidays

[2012-04-12 19:30] #31 closed, assigned to nobody

[2012-04-12 19:59] dp6ai commented on #33
That sounds perfect (I think). Surely I could add a master product then add ad hoc variants with a price through your extension. (maybe?)

Sent from my Phone

On 12 Apr 2012, at 20:09, Jeff Squiresreply@reply.github.com wrote:

[2012-04-12 20:27] wandtasie commented on #33
@dp6ai look at: http://guides.spreecommerce.com/inventory.html#overview

[2012-04-14 10:19] dp6ai commented on #33
I've looked over the document a few times and it doesn't seem that spree
will handle what i need?

Am i missing something?

What i need is the ability to add a variant which is not inventory
controlled so but does have a separate price (so a product option is not
possible).

Will flexi_variants achieve this? or is there another way?

thanks

DP

On Thu, Apr 12, 2012 at 9:27 PM, Matthias Wagner <
r

[2012-04-14 12:29] jsqu99 commented on #33
Flexi variants doesn't currently do anything with inventory. Try spree google group?

Sent from my iPhone

On Apr 14, 2012, at 6:19 AM, dp6aireply@reply.github.com wrote:

[2012-04-16 13:40] wandtasie opened #34 "1-0-stable for spree_flexi_variants?"
@jsqu99 you can add a 1-0-stable branch? so we can start testing with upcoming 1-1-stable version of spree?

Thanks

[2012-04-16 14:18] krismartin opened #35 "spree_promo not working when spree_flexi_variants is used"
I can't seem to get Spree Promotion working when spree_flexi_variants gem is used in my app.

The promotion I have setup is based on 'Add to Card' event and supposed to create an adjustment (flat percentage) to the Order, but no adjustment was ever made.

I'm using spree 0.70.5 and spree_flexi_variants spree-0-70-stable.

spree_promo is working fine when I remove spree_flexi_variants gem from my G

[2012-04-16 17:14] wandtasie commented on #34
I just added the 1-0-stable branch to my fork. If I get it running, I'll send you a pull request

[2012-04-16 18:30] jsqu99 commented on #34
Thanks.  I'm going to be looking at some extension issues shortly.

[2012-04-16 18:33] jsqu99 commented on #35
I'll take a look at this shortly.  thanks.

[2012-04-16 21:25] wandtasie commented on #34
https://github.com/jsqu99/spree_flexi_variants/pull/36

[2012-04-16 21:34] wandtasie commented on #35
@jsqu99 orders_populate doesn't fire events
https://github.com/jsqu99/spree_flexi_variants/blob/master/app/controllers/spree/orders_controller_decorator.rb

look at:
https://github.com/spree/spree/blob/3c81e2140021a99c76f157841376bc401e4ca56a/core/app/controllers/spree/orders_controller.rb
Edit: https://github.com/spree/spree/blob/0-70-stable/core/app/controllers/orders_controller.rb

I don't know

[2012-04-17 00:55] #35 closed, assigned to nobody

[2012-04-17 00:56] #34 closed, assigned to nobody

[2012-04-17 01:04] jsqu99 commented on #35
i just pushed a fix for this. thanks!

[2012-04-17 01:06] wandtasie commented on #35
:-)

[2012-04-17 01:13] krismartin commented on #35
That was quick. Thanks! :)

[2012-04-17 01:37] jsqu99 commented on #35
thanks!  the only problem is, can you please test? :-)

sorry for not having better test coverage.  want to help w/ that?

[2012-04-17 01:54] krismartin commented on #35
OK, I have tested this with my Promotion (add to cart event, flat percentage adjustment) and it is working perfectly. The correct adjustment was made to the Order.

I haven't tested it with any other types of promotion (e.g. coupon code, user sign up, etc).

I'll see if I can help you with writing the test for this.

[2012-04-17 01:57] jsqu99 commented on #35
Whew!

Sent from my iPhone

On Apr 16, 2012, at 9:54 PM, Kris Martinreply@reply.github.com wrote:

[2012-04-17 14:14] wandtasie commented on #27
Got in trouble with admin js in fresh installed demostore (1.0.x and edge).
Tree at taxons configuration disappears and sorting isn't possible...
Removing admin/orders/flexi_configuration from my admin/all.js manifest solves this issues.

Maybe we should include this script at another position, it is loaded on every page at the moment or change the workflow....

@jsqu99 could you give me some info

[2012-04-17 14:56] jsqu99 commented on #27
This is the one open problem related to the upgrade ( i thought 0.70 worked though ).

From memory, i need custom js for creating orders from the admin/orders section (most likely for exclusisions).

It has been a while since I've looked at this so I'm foggy.

Unfortunatley my javascript isn't awesome enough to append to spree's javascript, so I need to keep it in synch w/ changes in spree.  Feel

[2012-04-17 22:03] wandtasie commented on #27
thanks to the comments I figured out the following (I paste the code here so we can see them all together at one page)

Original code from spee_flexi_variants that causes the issue:
(https://github.com/jsqu99/spree_flexi_variants/blob/master/app/assets/javascripts/admin/orders/flexi_configuration.js)

[code]

was copied from sprees admin/admin.js from line 108 ...
(https://github.com/spree/spree/b

[2012-04-17 22:20] wandtasie commented on #27
The script included doesn't exists?!
I think we get problems with assets pipeline because if I add this file to my app, it gets included in all.js?
Do we need this feature really?

[2012-04-17 23:02] wandtasie commented on #27
First step: file was not properly included in assets pipeline

https://github.com/jsqu99/spree_flexi_variants/pull/37

Todo: I don't know if it works like expected, but the issues on other admin pages disappeared in fresh spree 1.1.0
Not heavily tested at the moment

[2012-04-17 23:09] wandtasie commented on #33
@dp6ai is your issue solved?

[2012-04-18 08:00] dp6ai commented on #33
I didn't end up using flex so i don't know whether the issue was resolved
sorry.

On Wed, Apr 18, 2012 at 12:09 AM, Matthias Wagner <
reply@reply.github.com

[2012-04-18 11:51] wandtasie commented on #33
@dp6ai you can close the issue? I think this issue wasn't related to spree_flexi_variants...

[2012-04-18 12:00] #33 closed, assigned to nobody

[2012-04-25 11:31] railsfactory-ferdinand opened #38 "need to add image for variants?"
hi i just want to add a specific image for every option type value .since we don't have any variants for spree_flexi_variant how it would be done? and how to check whether the particular variant available in stock already.is that possible?Thanks for you help ...

[2012-04-25 14:42] wandtasie commented on #38
The problem is: you can have multiple ad hoc options for one product. If you add an image to each ad hoc option value, you can't know which should appear on products page.
If you just got one option that changes the images, you could use normal variants for this and use the ad hoc options for other options of the product, For example, selling t-shirts you could use ad hoc option values for the siz

[2012-04-26 04:42] railsfactory-ferdinand commented on #38
Thankyou for your kind response

[2012-04-26 04:42] #38 closed, assigned to nobody

[2012-05-04 12:01] wandtasie opened #40 "Product customization types in admin menu"
The product customization types appear in admin mainmenu and submenu. I couldn't figure out why for now but I think that we need the link in products submenu only.

[2012-05-10 21:07] binaryphile opened #42 "product_customization_types_products not namespaced"
Edge master as of today includes namespace migrations for every table except product_customization_types_products.  It looks so lonely sitting there. ;)

[2012-05-10 21:34] jsqu99 commented on #42
you know i actaully noticed that today.  not sure if that was an accidental omission or i couldn't get the association to work correctly w/ the rename (i'm guessing the latter).  care to send a pull request? :-)

[2012-05-10 22:09] binaryphile commented on #42
Sure, but I'm not sure I understand migrations.  What would have to happen?

[2012-05-21 11:19] sfcgeorge opened #44 "How do I add a custom calculator without forking?"
Hi, I have the same issue as https://github.com/jsqu99/spree_flexi_variants/issues/12 but after hours of trying and reading your answer I still couldn't get it to work. The only way I could make my own custom calculator work was to fork your spree_flexi_variants repo and add my calculator to it directly. This feels like a rather clunky hack.

I'm building a made-to-measure curtains store, so I hav

[2012-05-21 12:54] jsqu99 commented on #44
Hello,

You don't have to fork.  This should be quite easy for you.  here's how:

in config/application.rb

[code]

app.config.spree.calculators.product_customization_types.concat([Spree::Calculator::
CurtainArea])
    end

Put these files in your app:

app/models/spree/calculator/curtain_area.rb

just in the app in those correct paths that your have

the trick is registeringing them in your appli

[2012-05-21 18:14] sfcgeorge commented on #44
Thank you very much for the quick reply. I followed your instructions and now it works perfectly. If I find time between client work and exams I could update the readme / wiki to include these instructions.

[2012-05-21 18:14] #44 closed, assigned to nobody

[2012-05-21 18:16] jsqu99 commented on #44
excellent, glad i could help

On Mon, May 21, 2012 at 2:14 PM, sfcgeorge <
reply@reply.github.com

[2012-06-21 14:22] wandtasie opened #48 "RuntimeError in Spree::CheckoutController#edit"
Hi jeff

The following error appears sometimes if I go to checkout (in frontend) instantly after login.
(using spree 1-1-stable): https://gist.github.com/2965961

I think its related to the changes to order model the last months like this:
https://github.com/spree/spree/commit/654dab62e55912389897c2b95defb2936827b577

and this:
https://github.com/spree/spree/blob/master/core/app/models/spree/order

[2012-06-21 14:31] jsqu99 commented on #48
my suspicion is you are sending in a null variant here; https://github.com/wandtasie/spree/blob/master/core/app/models/spree/order.rb#L457

i don't know how else you could have a crash here: https://github.com/jsqu99/spree_flexi_variants/blob/master/app/models/spree/order_decorator.rb#L48

[2012-06-21 14:43] wandtasie commented on #48
Sorry I pointed the links to my fork, which isn't causing the problem. (now updated above)

the line item validates presence of variant:
https://github.com/spree/spree/blob/master/core/app/models/spree/line_item.rb#L12

[2012-06-21 16:55] wandtasie commented on #48
I tried some time to reproduce this error with a fresh spree shop and I couldn't reproduce it. I'll close this issue for the moment and try to figure out what happens.
Possibilities are:
  The issue appears after a deploy
  It appears only if variants and ad hoc options used in the same product
  It's something with my local app

Thanks for your suspicions...

[2012-06-21 16:55] #48 closed, assigned to nobody

[2012-06-22 05:09] wandtasie opened #49 "Ahots disappear after relogin"
Steps to reproduce:
1. Fresh spree demo installation(1-1-stable) with spree_flexi_variants.
2. Add ahot to a product.
3. Add the same product to cart.
4. Logout.
5. Add another product to cart.
6. Use the checkout button at the cart.
7. Login.
8. Somehow the cart gets merged.
9. And the ahots are gone.

Although we need some steps to reproduce this, the scenario Isn't unrealistic. If a user return

[2012-06-22 05:39] wandtasie commented on #42
I think, the join-table needs an explicit name

https://github.com/spree/spree/blob/master/core/app/models/spree/taxon.rb#L6
https://github.com/spree/spree/blob/master/core/app/models/spree/product.rb#L27

or using a join model is a very flexible solution ... (has_many :through)

[2012-06-22 12:52] jsqu99 commented on #49
are you referring to spree_demo ?  That extension needs some tweaking for flexi integration, IIRC

[2012-06-22 13:10] wandtasie commented on #49
Sorry, no time at the moment, later or better tomorrow would be great. I got a lot of tweaks and errors (all around spree and extensions) at the moment... the shop system is growing :-) Thanks for reply

[2012-06-25 11:42] wandtasie commented on #49
Some additions: I get periodical the following error which is related to the login as well:

[code]

[2012-06-27 16:59] peterberkenbosch opened #51 "production unicorn issue with mount_uploader."
Running this on a box that used the Spree Deployments Services.. running it local in development mode with webrick I have no issues.. running it on the unicorn box keeps rendering this issue..

[code]

[2012-06-28 09:36] peterberkenbosch commented on #51
Looks like a gem loading issue.. "solved" it by adding carrierwave to the host-app Gemfile.

[2012-06-28 09:36] #51 closed, assigned to nobody

[2012-08-27 23:42] lethjakman opened #52 "Spree NoMethodError"
This is the error I got.

http://pastebin.com/4ZyBLP3q

The method .presentation isn't found. I'm using spree 1.1.3 with the master branch. Also,

gem 'spree_flexi_variants', :git=>'git@github.com:jsqu99/spree_flexi_variants.git'

Does not work, I had to modify it to

gem 'spree_flexi_variants', :git=>'https://github.com/jsqu99/spree_flexi_variants.git'

[2012-08-28 10:33] jsqu99 commented on #52
thanks for reporting.

i'm actually in ireland on vacation at the moment, but i'll look at this
asap.

it looks like it's expecting an option value in your variant that isn't
there.

you might want to put a debugger above that line and look at option.option_type
and @variant.option_values to see what it's trying to match.

thanks

On Mon, Aug 27, 2012 at 7:42 PM, lethjakman notifications@github.co

[2012-08-28 18:29] lethjakman commented on #52
Wow, a response on your vacation. That's some good service! Don't feel the need to respond, I just wanted to report my findings.

This is actually only true in the Pow server for mac. I switched over to the rails server with the debugger gem enabled to try and figure this out, and it runs perfectly!

On Aug 28, 2012, at 4:33 AM, Jeff Squires wrote:

[2012-09-12 18:21] jz2036 opened #53 "Could you add a calendar to the variants?"
This looks like a very powerful extension. I would like to use it for a rental website.

Basically, I need a calendar as variants for customs to specify the expect renting dates (from/to) and calculate based on that. Any hint on how to implement this function using your extension? Or, could you add this feature later? I am looking forward to it!

Thank you so much!

[2012-09-12 18:27] jsqu99 commented on #53
Thanks!

You could totally do this easily.

You would have a customization calculator that had two elements - from & to.

You'd write your custom UI to provide those two fields to rails.

take a look at a 2d calculator here: http://pastie.org/4709396

That powers this page: http://scframes.com/products/barre-street

(excuse the atrocious UI.  long story there).

[2012-09-21 11:01] davidslvto opened #54 "How we know that a certain combination is out of stock?"
Hi,

I'm using your gem, and this question came, I don't see anything that allows me to say that a certain combination has for example 20 products in stock.

[2012-09-21 16:31] jsqu99 commented on #54
Hello,

Unfortunately there's not inventory management in this version.

I had begun a new version w/ that in mind but development on it has
stalled.  You can see the screenshots if you take a look at the v2 branch.

On Fri, Sep 21, 2012 at 7:01 AM, David Silva notifications@github.comwrote:

[2012-10-29 23:33] gmacdougall commented on #49
Sorry for the spam.  I have resolved this issue in our fork and submitted a pull request.

[2012-10-30 00:44] jsqu99 commented on #49
no need to apologize.  thank you very much for reporting.

i'm absolutely slammed crazy busy ATM but will take a look and pull ASAP.

thanks!

On Mon, Oct 29, 2012 at 7:33 PM, gmacdougall notifications@github.comwrote:

[2012-11-08 03:55] #49 closed, assigned to nobody

[2012-12-12 14:26] juancabrito commented on #52
I don't know if this is related but I'm getting this error:

[code]

I'm using version 1-3-stable

[2012-12-12 15:05] jsqu99 commented on #52
are you trying this w/ the latest spree?  if so, it won't work, as the
admin app has drastically changed.

On Wed, Dec 12, 2012 at 9:26 AM, juancabrito notifications@github.comwrote:

[2012-12-12 17:51] juancabrito commented on #52
Yes I'm trying with 1-3 but I'm also trying with 1-2 using the branch
1-2-stable of flexi variants but I'm getting the same error.

2012/12/12 Jeff Squires notifications@github.com

[2012-12-15 00:58] jsqu99 commented on #52
I just got an error w/ another route.  i think it is related and has something to do w/ the differences between a couple different spree 1.2 versions

[2012-12-15 00:59] #53 closed, assigned to nobody

[2012-12-15 01:12] jsqu99 commented on #52
I believe the culprit to be: https://github.com/spree/spree/commit/cbcb7937b2187dfe6b3fd7e752f8681e08cc786b#L2R151

I'm going to check in an override of that method in a few minutes

[2013-01-08 18:04] fabiode commented on #27
I'm using spree 1.1.2 and adding products to a new order using admin doesn't work after using spree_flexi_variants. Is this relationed to this issue?

[2013-01-08 18:27] jsqu99 commented on #27
someone else reported this recently and I haven't had time to research.  feel free to investigate and submit a pull request.  thanks for reporting

[2013-01-08 18:30] fabiode commented on #27
Ok, I'll probably have to work around something, because this is essential to the project.
thanks!

[2013-01-11 17:32] gregmurray opened #58 "Ability to edit/update customized product from cart form?"
I was wondering if there is any current functionality (or if anyone has suggestions) to have an edit product button on the cart form that links back to the product page and propogates all ad-hoc fields with the selected values.  I want to allow my users to have the ability to edit and update the customized product without having to start over.

[2013-01-11 17:47] jsqu99 commented on #58
that's tricky b/c the ad hoc stuff is stored at the line item level, not the product.

but you could always find the corresponding line item from the current_order and set the selects appropriately.

shouldn't be too hard

[2013-01-18 00:56] jetsgit opened #60 "Problem in new Spree 1-3-2-stable Admin: option_types#edit"
Clicking on products-option types -edit gives the following error:

ArgumentError in Spree/admin/option_types#edit

[code]

...and here is the relevant base_helper_decorator.rb code, looks like it has been visited before:

[code]

Any ideas on how to fix this Jeff?

Everything else has been working great in Spree v.1.3.2-beta

Thanks!

   Eric

[2013-01-18 01:21] jetsgit commented on #60
Removing _base_helper_decorator.rb appears to have solved the problem.
Nothing like going back to the well!

[2013-01-18 01:21] #60 closed, assigned to nobody

[2013-02-01 19:37] gregmurray commented on #58
Thanks.  I am now storing the customizations in a new model (productbuilds) because I want my users to have the ability to save and update products they have customized.  I have it all set up and working and am now trying to add the productbuild id to the line item so that it can be referenced back to the productbuild and updated/edited.  I am trying to wrap my head around how the line items are c

[2013-02-01 19:58] jsqu99 commented on #58
in spree 1.3 (which is not yet supported here): https://github.com/spree/spree/blob/master/core/app/models/spree/order.rb#L252

also these files might help as well: https://github.com/jsqu99/spree_flexi_variants/blob/master/lib/ad_hoc_utils.rb
https://github.com/jsqu99/spree_flexi_variants/blob/master/lib/product_customizations.rb

[2013-02-03 00:37] gregmurray commented on #58
Thanks.   I got it working properly.

[2013-02-03 00:37] #58 closed, assigned to nobody

[2013-02-06 00:00] sfcgeorge commented on #60
If the fix is deleting that file, could the change be merged in? Thanks

[2013-03-03 21:57] JDutil commented on #27
@fabiode yes the inability to add products to an order in the admin is related to this issue as I've just run into it as well.

@jsqu99 will see what I can come up with for a solution here shortly.

[2013-03-03 22:09] jetsgit opened #65 "spree-1-3-stable branch"
Jeff, did you have a chance to look at the diff I made in Issue #61 (Spreee 1 3 Stable) between the working version from my spree-1-3-stable branch and the working version on Ted Lilley's master branch?  Thought your insight and a decision on which would be best to
proceed with as basis for a spree-1-3-stable, or a combination of the 2---if you would indeed like to support that.

What do you think

[2013-03-03 22:28] JDutil commented on #27
The issue with adding items to the order appears to be that the form is submitted twice.  First with the variant id and then a second time without it which causes the error.  I've been trying several different things such as adding preventDefault and stuff to stop the link from submitting but it still occurs anyway...

[2013-03-03 22:37] jsqu99 commented on #27
in times past i recall there was a version of spree that had jquery included twice and that was causing double submissions (not sure if relevant)

[2013-03-03 22:41] JDutil commented on #27
Interesting think I've solved it...  Appears to be that using .live for tracking the click event causes it.  After updating some of the js to the latest versions within Spree it appears changing from .live to .on fixed it.

[2013-03-10 13:21] nostopbutton opened #68 "Order Line Item Adhoc items are mutable"
I've discovered, what I believe to be, a flaw in the logic for how the adhoc option values for Order line items  are stored in the data model (AdHocOptionValuesLineItem).

I plan to look at whether I am able to implement a change in this area, but would appreciate the views of anyone who works with this extension regularly.

The current implementation works by creating a reference link between the

[2013-03-20 15:58] zib-in opened #69 "How to apply ad hoc option types to customization types?"
Assume that we have a customizable product which people can write custom texts on it, like this;

[code]

How can I do something like this design with using flexi_variant? Can I create new customization types calculators that include ad hoc options?

[2013-03-20 16:18] jsqu99 commented on #69
i would say create the customization just w/ the text, but in it's calculator reference the ad hoc options you have configured for the product.  I've done this before in the calculators.  you should be able to reference what you need from the args provided to 'compute'

[2013-04-03 00:17] marcospassos opened #70 "NoMethodError in Spree/admin/product_customization_types#edit"
Hello,

I installed the Spree 1.3.2 and the branch version of spree_flexi_variants. When I try edit a customization type I get the error "NoMethodError in Spree/admin/product_customization_types#edit".

Does anyone know how can I solve this?

[2013-04-03 01:26] radar commented on #70
Could you please provide the stacktrace for this issue as well as your application's complete Gemfile?

On Wed, Apr 3, 2013 at 11:17 AM, Marcos Passos notifications@github.com
wrote:

[2013-04-03 02:25] marcospassos commented on #70
Sure!

[code]

[code]

[2013-04-06 12:23] sfcgeorge commented on #70
Same problem here. Stack trace and Gemfile look similar but I'll post anyway. Thanks.

[code]

[code]

[2013-04-07 18:17] jetsgit commented on #65
Spree 1-3-stable New Order in Admin is broken with flexi-variants. It looks like some major changes to get that working. Is that something you are considering?

[2013-04-07 20:43] jetsgit commented on #65
Text displayed instead of icons and tooltips in ad_hoc_option_types edit.

[2013-04-12 17:42] jetsgit opened #72 "UI Renovation for Admin Orders / New Order"
There needs to be an overhaul to get spree_flexi_variant to work with 'New Order' in the Admin.

Since it is very possible to have  a combination of variants available for a product, select fields for each variant should be generated when a product is selected in

' Select a Variant' .

The above should be:

' Select a Product'

When product is selected, the appropriate selection types for ad_hoc_

[2013-04-27 12:02] jalberto commented on #52
Thanks @nostopbutton it works for me in spree-1.3

[2013-05-14 19:47] JDutil commented on #27
This was resolved by 8f9bcb4

[2013-05-14 19:47] #27 closed, assigned to nobody

[2013-06-01 22:36] jetsgit commented on #72
Has this been fixed elsewhere?

[2013-06-27 13:23] Ruekompa opened #78 "amount_times_constant calculations"
Instead of using the entire field as the obj to calculate an amount, it adds each letter and acts like the 'engraving' calculator.

[2013-06-28 05:14] radar commented on #78
Hello @Ruekompa,

Please provide the information requested in the [Contributing Guide](https://github.com/spree/spree/blob/master/CONTRIBUTING.md) for Spree, under the heading "Filing an Issue".

Thank you.

[2013-06-28 18:20] Ruekompa commented on #78
I solved this particular issue by removing .val() from the file _amount_times_constant.html.erb
from:
      return <%= calculator.preferred_multiplier %> \* $(obj).val().length;
to:
      return <%= calculator.preferred_multiplier %> \* $(obj).length;

[2013-06-30 23:58] radar commented on #78
@Ruekompa I'd like to request the information from the [Contributing Guide](https://github.com/spree/spree/tree/master/CONTRIBUTING.md) again. Please provide this information so that we know exactly what is going wrong so that we can accurately fix this problem.

Thank you.

[2013-07-01 15:16] Ruekompa commented on #78
Alright @radar, I will do so when I get a little extra time. I was on the road a week for work and back now. So I'll try and get this done by the end of the night. Thanks for all the work you and the others have done.

[2013-07-03 06:37] radar commented on #78
Alrighty, excellent. Thanks for letting us know @Ruekompa :)

[2013-07-03 13:47] Ruekompa commented on #78
Spree Stable-1-3
Rails 3.2.13

Extensions:
spree_gateway
spree_auth_devise
spree_static_content
spree_fancy
spree_flexi_variants

Using the extension "Flexi Variants" creates a page in the /admin console called "Customization Types".

Clicking on "New Product Customization Type" button takes you to the form fields: Name, Presentation, Description and Calculator.

The "Amount Times Constant Calcula

[2013-09-03 20:41] ckw2013 opened #80 "re: Update for Spree 2.0.0"
Hi,

I am currently using Spree 2-0-0. I am wanting to have a custom text field option for the products. This extension caters for that issue except for earlier versions of Spree. Can you update the extension for Spree 2-0-0? Thanks.

Thanks,

K

[2013-09-04 03:47] radar commented on #80
@ckw2013 Are you able to work on a patch for this extension to bring it up to 2.0.0?

[2013-09-04 16:38] ccschmitz commented on #80
@radar is there a guide on migrating extensions to work with 2.0? I'm just getting started with my first Spree app but I would be happy to work on this if I can get a little guidance.

[2013-09-05 16:42] ccschmitz commented on #80
Actually, it looks like someone else has already worked on this: https://github.com/dointeractive/spree_flexi_variants/tree/2-0-stable

I don't see a pull request from them though...

[2013-09-09 01:35] radar commented on #80
Hi @ccschmitz: there's no guide on upgrading extensions to 2.0, other than seeing if they have any tests. If they have tests, do the upgrade and see what tests are failing. If there are no tests failing (or there are simply no tests), then try out the extension for yourself. Once you've vetted that it's working, then submit a pull request for it.

I believe if you fork their extension, you may be

[2013-09-11 15:36] ccschmitz commented on #80
Thanks for the info @radar. I'm working on making it compatible for 2.0 over here: https://github.com/ccschmitz/spree_flexi_variants

Hopefully I'll have a pull request soon.

[2013-09-12 06:57] radar commented on #80
Excellent :) Looking forward to it.

[2013-10-06 18:17] dbwinger opened #83 "Prototypes"
Thanks so much for this extension, @jsqu99 . As far as I can tell, using the ad hoc variants makes prototypes irrelevant.  Is that correct, or am I missing something?  I'd love to still be able to help my clients save time by still being able to use prototypes to set up the ad hoc options.  I may work on that and submit a pull request, but just wanted to first check and make sure I wasn't missing

[2013-10-06 18:19] jsqu99 commented on #83
Thanks.

Correct on the prototypes question (as far as options/variants are concerned).

Feel free to submit any pull requests (especially if you want to work on spree-2-stable :-) )

[2013-10-06 18:21] dbwinger commented on #83
Thanks. I will.  I'm currently using jdurand's 2.0 version https://github.com/jdurand/spree_flexi_variants which seems to be working well, but like I said, I haven't used it too thoroughly yet.

[2013-10-06 18:21] #83 closed, assigned to nobody

[2013-10-21 15:37] charredUtensil commented on #80
I'm now working on this over in my fork as well
https://github.com/charredUtensil/spree_flexi_variants
I have some basic support working, but a good chunk of the features are still rather broken.

[2013-11-08 04:45] jsqu99 commented on #80
I can't believe no one has upgraded this to 2, or 2.1 and sent a pull request :-)

So, looks like I finally am going to get around to it.

I am taking a look at @cristianbica 's 2-1 branch.  I should have some indication mid-day tomorrow how that looks.

Is there a consensus of a somewhat working 2.0 or 2.1 version out there?  I see a lot of activity, but no one has sent anything back upstream.

[2013-11-08 04:49] radar commented on #80
I don't know if there is any consensus. Go with what you feel is right :)

On Fri, Nov 8, 2013 at 3:45 PM, Jeff Squires notifications@github.com
wrote:

[2013-11-08 06:34] charredUtensil commented on #80
I quite literally just got something decent that appears to be working on Rails 4 / Spree 2.1 in mine, but I have very little experience with Spree extensions or Spree in general, so it's probably wrong and I haven't been able to run the tests. Still might be worth a peek, and I do have a project actively in development that uses it.

[2013-11-08 16:58] #69 closed, assigned to nobody

[2013-11-08 17:01] #54 closed, assigned to nobody

[2013-11-08 17:08] jsqu99 commented on #72
@bluehandtalking for some reason I never saw this :-(

Fyi, I'm working on getting some/all of your commits integrated.

[2013-11-08 17:08] #72 closed, assigned to nobody

[2013-11-08 17:10] jsqu99 commented on #68
@nostopbutton - Very sorry for the long-delayed response.  did you ever come up with a solution?  happy to integrate it if you have one.

[2013-11-08 17:13] jsqu99 commented on #65
Again, very sorry for disappearing on you @bluehandtalking .  I've had some personal things distracting me in 2013.  I'm going to close this for now, hoping that https://github.com/jsqu99/spree_flexi_variants/tree/spree-1-3-stable addressed these.  Feel free to reopen if necessary.

[2013-11-08 17:13] #65 closed, assigned to nobody

[2013-11-08 17:15] jsqu99 commented on #42
I'm going to close this unless someone wants to provide a pull request that doesn't involve an empty rails model...or if i'm mistaken...jsut let me know

[2013-11-08 17:15] #42 closed, assigned to nobody

[2013-11-08 17:16] jsqu99 commented on #78
I'm hoping to take a look at this soon

[2013-11-08 17:17] jsqu99 commented on #40
closing since it's so old i'm hoping it has been fixed by now...if this is no good, let me know

[2013-11-08 17:17] #40 closed, assigned to nobody

[2013-11-08 17:18] #52 closed, assigned to nobody

[2013-11-08 17:20] jsqu99 commented on #70
I'm closing this for now (see comments in linked PR)

[2013-11-08 17:20] #70 closed, assigned to nobody

[2013-11-08 17:21] jsqu99 commented on #32
there is a branch here i'm using for one client that works great.  check it out

[2013-11-08 17:21] #32 closed, assigned to nobody

[2013-11-08 17:31] jsqu99 commented on #80
Hi @charredUtensil - sorry for being vacant.  I've been dealing w/ some personal issues in 2013.

I'm happy to work w/ you on moving forward.  I just skimmed your commits and it looks like you are on the right track.

I didn't see any javascript changes, and that concerns me, since i'm thinking a lot changed there?

I don't know...I'm about to kick the tires of your version and another that i have

[2013-11-08 19:41] charredUtensil commented on #80
@jsqu99 I haven't tested it much with ad hoc options / customizations that have an additional cost, which would explain the lack of Javascript changes.

[2013-11-09 11:53] BRZInc commented on #80
Hello,

I've tried to use fork done by @charredUtensil. Looks like I've configured it connectly. However, whenever I try to add an item to card I get 'undefined method `+' for nil:NilClass' exception in line_item_decorator.rb.

Could anyone help me? Thanks a lot in advance.

[2013-11-09 12:13] BRZInc opened #84 "Add Engraving validation"
Hello,

Thanks a lot for incredible gem - I've started developing something similar, however it looks like you've done all the work already.

After installation of spree_flexi_variants I've figured out that there is a need to validate length of Engravings (Customization type). It would be excellent if you could add validation by regex.

Is there any possibility to add this feature?

[2013-11-09 15:52] charredUtensil commented on #80
@BRZInc Toss up an issue in my fork with the line you're getting that error from and the rest of the stack trace and I can try to fix it.

[2013-11-09 20:40] BRZInc commented on #80
@charredUtensil Thanks a lot for assistance! However I can't figure out how to open a new issue in your fork - should I request a Pull permission for that?

[2013-11-09 20:48] BRZInc commented on #80
@charredUtensil BTW, here are some details of the exception:

Exception message:
NoMethodError in Spree::OrdersController#populate
undefined method `+' for nil:NilClass

Here is my stack trace:
D:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/bundler/gems/spree_flexi_variants-aa00ceb65840/app/models/spree/line_item_decorator.rb:37:in `cost_price'
spree_core (2.1.2) app/models/spree/line_item.rb:35:

[2013-11-12 19:52] BRZInc commented on #80
@maxtavanti thanks a lot for the fix! Working like a charm!:)

[2013-11-13 02:06] dbwinger opened #86 "ad hoc option weights"
I think I know the answer to this (no), but is there a way to specify weight differences for the ad hoc options?  I was planning to use weight as one of the option types but I also need to use weight for shipping calculation.  I'm sure I can do some customization to make this happen, but wanted to make sure I'm not missing something built-in that will help me accomplish this.

[2013-11-15 18:04] jsqu99 commented on #86
Your guess was correct :-)

[2013-11-15 18:04] #86 closed, assigned to nobody

[2013-11-15 18:05] jsqu99 commented on #84
Thanks. I'm working on giving the extension some long-overdue updating to spree 2.1

That length validation might be unique to your use case?

If I'm mistaken, you could always add another preference and submit a PR

[2013-11-15 18:05] #84 closed, assigned to nobody

[2013-11-21 23:28] ckw2013 commented on #80
Hi,

I am currently working on a version for Spree 2-0-stable. It seems to be working for Ad Hoc Options and it saves all the information in the database. There seems to be errors with Product Customizations when you are adding to cart. Can someone have a look at working on a version for Spree 2-0-stable? Thanks.

Thanks,

K

[2013-11-22 01:07] jsqu99 commented on #80
Take a look at my 2.1 WIP branch for some tips.

On Thu, Nov 21, 2013 at 6:28 PM, ckw2013 notifications@github.com wrote:

[2013-12-19 15:17] jalberto opened #91 "Error trying to edit order"
[code]

[2013-12-20 02:48] radar commented on #91
Hi @jalberto, please provide the information we ask for in the [Contributing Guidelines](https://github.com/spree/spree/tree/master/CONTRIBUTING.md).

Thanks!

[2013-12-20 09:00] jalberto commented on #91
Steps:
- Install spree & flexi variants extension
- add custom type to a product
- do an order
- go to admin try to edit the order

Expecting:
- the edit order form

Happening:
- a 500 error

Stack trace:
- See previous comment

Gemfile:

[code]

[2014-01-06 16:20] BRZInc opened #93 "Ability to see flexi variants values in Orders"
Hello,

On my site I've configured 2 options for engraving. However, I've figured out that I'm unable to see values of those options for new Orders. This is definitely something users need to have.

Please help.

[2014-01-08 02:45] radar commented on #93
Hi @BRZInc, please provide the information we ask for in the [Contributing Guidelines](https://github.com/spree/spree/tree/master/CONTRIBUTING.md).

Thanks!

[2014-01-14 21:39] jalberto opened #94 "required customization (feature request)"
Thanks for this nice extension.

I think it could be a nice feature to add a checkbox to each customization to set it as required or optional.

TIA

[2014-01-27 10:16] anujmiddha commented on #80
This is a very useful project, thanks. Are you working on the 2.1 branch?

[2014-01-27 12:25] jsqu99 commented on #80
thank you.

is there a 2-1-wip branch?  i thought there was...if so, it should be
usable, if not perfect.  If not, look at the 2-0-wip branch and that should
be a good starting point

On Mon, Jan 27, 2014 at 5:16 AM, anujmiddha notifications@github.comwrote:

[2014-01-27 14:11] anujmiddha commented on #80
The 2-1-wip branch worked perfectly. There was a hiccup with using the sample data, but when I created the products from scratch after installing flexi_variants, everything worked fine. Thanks again.

[2014-01-27 14:21] jsqu99 commented on #80
awesome.

i think there is an outstadning issue or two in the admin for 2-0 and 2-1.
 feel free to send pull requests :-)

On Mon, Jan 27, 2014 at 9:11 AM, anujmiddha notifications@github.comwrote:

[2014-02-06 21:03] binaryphile commented on #91
Can confirm I'm also seeing this error.

It appears as though the spree view `backend/app/views/spree/admin/orders/_shipment_manifest.html.erb` has a call to find_line_item_by_variant which needs to be overridden by this extension but isn't yet.

Since I don't ship product in my store, I've added a view to my app with the same filename but empty inside.  This has solved my particular issue.

[2014-02-17 23:09] jalberto commented on #91
thanks @binaryphile for the help

Any news on this error?

It yet happens 2-1-stable branch

[2014-03-12 02:49] radar commented on #91
@jalberto This is happening because `shipment/manifest` expects a certain method, but spree_flexi_variants expects another. Overriding a method to take different parameter sets is kind of bad imo. I don't know how we can fix this and make spree_flexi_variants AND spree happy.

[2014-03-12 02:57] huoxito commented on #91
Agreed that overriding a method using different parameters is trouble. Maybe a solution for now could be changing the signature of https://github.com/jsqu99/spree_flexi_variants/blob/2de9573eee5a460e76bbcf798cda3a64afbbd212/app/models/spree/order_decorator.rb#L36-L42 to something like:

[code]

No idea what those other two parameters are for though.

[2014-03-24 18:14] coorasse commented on #91
No solution yet?
I have the same problem and can't figure out how to solve it

[2014-03-25 04:25] radar commented on #91
@coorasse If there was a solution you'd be sure that we would post about it here :)

[2014-03-25 09:51] coorasse commented on #91
@radar can you explain what are these parameters for? I can't get it really. We can try to find a solution

[2014-03-26 03:52] radar commented on #91
@coorasse I've never worked on this extension in any large capacity. I would guess @jsqu99 or maybe @jdutil might know more.

[2014-03-26 09:04] JDutil commented on #91
@coorasse I'm not really familiar with the internals of this extension either.  The general idea of what is happening there as far as I know is that you pass in the custom options with the variant in order to determine whether it's a new line item or just incrementing the quantity.  To make things more stable those parameters should probably be made into an options hash so calls with just a varian

[2014-03-26 14:14] jsqu99 commented on #91
Hi All,

Sorry for not responding earlier.  I didn't see the notification.

FYI, we have been having discussions on how to deal with this type of thing in spree and extensions going forward.  We don't yet have a solution, but are actively working on one.

Those two parameters are key for this extension.  The represent the customizations to a variant (ad hoc option types selected and/or customizati

[2014-03-26 15:16] JDutil commented on #91
They are key to this extension, but they are optional...

If the method was refactored so that you passed those params in as an options hash instead of setting default values of empty then you could maintain this extensions requirement of having those options, without breaking the usage of this method outside of the extension where those parameters are not being passed.

Basically the solution for

[2014-03-26 15:18] jsqu99 commented on #91
I'm in total agreement Jeff.  He had just asked what those were for so I was trying to convey what they were and how important they were.  I'm +10000 on the suggested refactor.

[2014-03-28 13:59] coorasse opened #98 "Javascricpt error showing Product Page - 2-1-stable"
When you load a product page,   `$("#cart-form form").validate();`

it raises a `Object [object Object] has no method 'validate'`.

Missing library?

[2014-04-22 01:14] radar commented on #98
This should automatically be added by jQuery.validate, which should be required by Spree's frontend libraries. Could you please provide us steps to reproduce this issue as per https://github.com/spree/spree/tree/master/CONTRIBUTING.md?

[2014-05-26 08:14] tkmu opened #99 "NoMethodError in Spree::UserSessionsController#create"
NoMethodError in Spree::UserSessionsController#create
undefined method `quantity' for true:TrueClass

How to reproduce:
1. disable checkout without registration
2. add Spree Login as Existing form in registration.html.erb (so that existing users can login right in the checkout process)
3. select a product -> add to cart -> checkout -> registration page
4. try logging in with a registered account
5

[2014-08-20 22:23] IrvinFan commented on #80
This seems to be a very nice extention. Any plan to bring it up to work with Spree 2.2 and 2.3?

[2014-08-21 13:22] jsqu99 commented on #80
Thanks Irvin.  take a look at my other WIP extension
'product_customizations' for a glimpse at how things will look going
forward.

It is doubtful i'll do any real work on this extension in the near future,
but there are like 100 forks, so check the network graph.  someone has
probably made some updates

On Wed, Aug 20, 2014 at 6:23 PM, Irvin Fan notifications@github.com wrote:

[2014-08-21 15:46] IrvinFan commented on #80
Yeah. I noticed that extention too. Is it working now? or how close is it to be ready? Also do you plan to make that extension to work with Spree 2.2 and 2.3? right now only master, right?

[2014-08-21 15:58] jsqu99 commented on #80
I''ll only be working on that extension when my day job calls for it.  I
should probably look for a maintainer as I have no interest any longer in
working on it.  I won't be backporting the new extension (it relies on some
changes in spree i just got accepted).  i'm not sure if it's state...it's
probably not far from working.  take a look at my spree_vouchers extension (
github.com/spree-contrib/s

[2015-02-18 14:59] johncox00 opened #103 "Updating line item quantities in 2-1-stable admin"
I'm having an issue when trying to update line item quantities in an order in the spree admin. When I edit an order and update the quantity of a line item in the order, I get the following error when clicking the check button to submit the change:

wrong number of arguments (1 for 3)
.../vendor/bundle/ruby/2.1.0/bundler/gems/spree_flexi_variants-eb64955b1844/app/models/spree/order_decorator.rb:36:

[2015-07-09 11:35] sfcgeorge opened #104 "Maintenance"
Hi. I'm working on a client's website which has used this extension in the past but needs updating to work with Spree 3.

@jsqu99 has said he doesn't have time to actively maintain this, that's fine. I found several fairly active forks:

@renuo https://github.com/renuo/spree_flexi_variants
@tailic https://github.com/tailic/spree_flexi_variants/tree/2-2-wip
@factorlibre https://github.com/factorlib

[2015-07-10 14:34] tailic commented on #104
Hi @sfcgeorge I really like the idea, this extension brings some essential features to spree and we need to keep it up to date. My fork is active but I messed around a bit with some custom logic for a project... so its not a good one to start with.

As you already mentioned, we should first select the best fork to start with or we fork this one and merge in other forks/commits.

As next step it wo

[2015-07-10 14:39] jsqu99 commented on #104
All, I'm happy to hand this project off to a new maintainer (or link to wherever).  If you can get together and come up w/ a consensus or another plan just lmk.

[2015-07-10 14:47] sfcgeorge commented on #104
Great, that's 1 person, hopefully we'll get more :)

I agree that this is a pretty essential Spree extension. My client needs it for made to measure curtain measurement calculations, with a custom price matrix.

@tailic Thanks for commenting about your fork; that's exactly the kind of thing I was hoping for. The five I've mentioned _look_ active but it's hard to tell without digging—are they lots

[2015-07-10 22:05] alexgirdler commented on #104
Hello @sfcgeorge https://github.com/sfcgeorge my company is actually
going to be moving to spree in the future(end of year/beginning of next)
and will likely support and maintain the plugin, we're switching from
Bigcommerce which has the features we would be needed already implemented
and we would be porting the features over as well as updating existing
features for spree 3. I believe the fork th

[2015-07-12 14:53] sfcgeorge commented on #104
Fantastic, thanks @alexgirdler hopefully the 3+ of us can come up with a solid repo. I have invited @alexgirdler and @tailic to the new org [spree-contrib-variants](https://github.com/spree-contrib-variants) plus @jsqu99 as he started it. If more interested people reply I'll add them too. This may seem heavy handed but I read a post by a repo owner who said it worked to encourage contributions.

I

[2015-07-14 12:25] sfcgeorge commented on #104
I skimmed every commit in every recent fork since the last on the @jsqu99 repo to see which looks most up to date. It's very confusing as forks have forked other forks, stable branches have got ahead of master, and some forks seem to have merged between each other. Nonetheless I concluded that the @renuo fork was the most comprehensive, so I have forked that into the org. Of course I would be happ

[2015-09-08 08:55] zamith opened #105 "Using flexi variants in the orders controller"
I tried looking everywhere but I couldn't find how to call the `populate` method on `Spree::Populator`, given that I have some ad hoc option types, since it requires me to pass it a variant id. Should I create a variant on the spot? How?

[2015-09-08 09:30] zamith commented on #105
I found out that flexi variants already defines it's `populate` action, which I was overriding. It looks like it works, now.

[2015-09-08 09:30] #105 closed, assigned to nobody

[2016-08-25 14:54] sigoulder opened #106 "Images associated with product customisations"
I'm building a site which involves products with a lot of variants/customisable options for each. This gem is perfect for implementing the customisation, however I need to associate images with each customisation so I can display an image of the particular combination of custom options on the views.
Are you considering on including the option of adding images in a feature at any point?

[2016-12-20 20:26] cristianogregnanin commented on #104
Hi, I think this gem is perfect for me. I am using Spree to sell computers. Users can configure ram, cpu, hdd,.... There are many forks for this gem, and I am little bit confused.. which fork is the best? I am considering to use Spree 3.2 with Rails 5. Is that gem compatible?

[2016-12-21 12:09] sfcgeorge commented on #104
It's been a while since I last used it but at the time:

* jsqu99 (original creator) had been working on a replacement called `spree_product_customizations`.
* It lacks a few features from the bigger `spree_flexi_variants` but for me had everything important.
* It's coded to hook into newer Spree APIs and be less of a hacky monkeypatch, though it's still quite hacky.
* It wasn't quite finished.
*